*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(gradient.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.content{
    color: rgb(0, 0, 0);
    position: relative;
    top: 0%;
    left: 8%;
    transform: translateY(100%);
}

.button2{
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 3px 3px 1px black;
    text-decoration: none;
    position: fixed;
}

.pg{
    color: black;
    position: relative;
    top: 30%;
    left: 8%;
}
